# -------------------- Application --------------------
APP_NAME="TASKFLOW CRM API"
APP_ENV=dev                             # dev / prod
APP_DEBUG=true                          # true / false
DEBUG_LVL=0                             # 0 - включен yii2 debug, 1 - вкючен trace, 2 - добавлен request, 3 - включено всё
APP_URL="http://localhost:8080"         # базовый URL приложения
COOKIE_VALIDATION_KEY="random-string"   # ключ для валидации кук
SENDER_NAME="name"
SENDER_EMAIL="email"
ADMIN_EMAIL="email"

# -------------------- Database --------------------
DB_DSN="pgsql:host=localhost;port=5432;dbname=crm"
DB_USERNAME="postgres"
DB_PASSWORD="secret"

# -------------------- JWT --------------------
JWT_SECRET="your-jwt-secret"
JWT_ISSUER="your-jwt-issuer"
JWT_AUDIENCE="your-jwt-audience"

# -------------------- User Service  --------------------
USER_SERVICE_BASE_URL="service-api-break"
USER_SERVICE_TOKEN="system-token-for-sync"

# -------------------- S3 (Yandex Object Storage) --------------------
S3_ACCESS_KEY_ID="access-key"
S3_SECRET_ACCESS_KEY="secret-key"
S3_BUCKET="bucket-name"
S3_REGION="ru-central1"
S3_ENDPOINT="https://storage.yandexcloud.net"

# -------------------- Redis --------------------
REDIS_HOST="localhost"
REDIS_PORT=6379
REDIS_PASSWORD=""