# -------------------- Application --------------------
APP_NAME="Script Agency TASKFLOW CRM"
APP_ENV=dev                             # dev / prod
APP_DEBUG=true                          # true / false
DEBUG_LVL=0                             # 0 - включен yii2 debug, 1 - вкючен trace, 2 - добавлен request, 3 - включено всё
APP_URL="http://localhost:8080"         # базовый URL приложения
COOKIE_VALIDATION_KEY="random-string"   # ключ для валидации кук
ADMIN_EMAIL="email"

# -------------------- FRONTEND --------------------
FRONTEND_URL="http(s)://project.domain.zone"

# -------------------- PASSPORT --------------------
PASSPORT_URL="http(s)://project.domain.zone"
PASSPORT_SCOPES="scope scope2"

# -------------------- OAUTH --------------------
OAUTH2_PUBLIC_KEY_PATH="path"
OAUTH2_CLIENT_ID="string"
OAUTH2_CLIENT_SECRET="secret"
OAUTH2_ACCESS_TOKEN_TTL=36
OAUTH2_REFRESH_TOKEN_TTL=2592

# -------------------- Email --------------------
MAILER_DSN="MAILER_SCHEME://MAILER_USERNAME:MAILER_PASSWORD@MAILER_HOST:MAILER_PORT"
MAILER_SCHEME=""
MAILER_HOST=""
MAILER_PORT=
MAILER_USERNAME=""
MAILER_PASSWORD=""
MAILER_ENCRYPTION=""
SENDER_EMAIL=""
SENDER_NAME="Script Agency TASKFLOW CRM"

# -------------------- Database --------------------
DB_DSN="pgsql:host=localhost;port=5432;dbname=crm"
DB_USERNAME="postgres"
DB_PASSWORD="secret"

# -------------------- Redis --------------------
REDIS_HOST="localhost"
REDIS_PORT=6379
REDIS_PASSWORD=""